nav{
    background-color: #ffff;
    justify-content: center;
    gap: 35px;
    display: flex;
    padding: 10px;
}
*{
    margin: 0;
    padding: 0;
   
}
body{
    background-image: url(imges/apple.jpg);
    height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

a{
    color: #333333;
    justify-content: space-between;
    text-decoration: none;

    
}
.fa-brands{
    color: #333333;
}
.fa-solid{
    color: #333333;
}
#shopping{
    color: #333333;
}
.iPhone{
    text-align: center;
    margin: 50px 0px 0px 0px;
    font-family: "Inter", sans-serif;
    font-size: 50px;
    color: #000;
}
.meet{
    text-align: center;
    font-size: 30px;
    font-family:"Inter", sans-serif;
    color: #000;
    
}
.button{
    background-color: #0071e3;
    padding:  10px 20px 10px 20px;
    justify-content: center;
    color: #fff;
    border-radius: 50px;
    border: none;
    font-size: 20px;
}
#button{
    
    padding:  10px 20px 10px 20px;
    border-radius: 50px;
    color: #0071e3;
    border-color: #0071e3;
    font-size: 20px;
}
#button:hover{
    background-color: #0071e3;
    color: #ffff;
}
.container{
    margin: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}