.container{
    max-width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 15px;
}
.top_nav{
    margin-bottom: 10px;
    background-color: green;
    height: 150px;
}

.side_nav{
    height: 300px;
    width: 200px;
    flex: 1;
    min-width: 150px;
    background-color: blue;

}

.main{
    height: 400px;
    width: 700px;
    background-color: red;
    box-sizing: border-box;
    padding: 12px;
    flex: 3;
}

.sub_content{
    height:200px ;
    width: 210px;
    flex: 1;
    background-color: yellow;
}
#advertisement{
    height: 120px;
    width: 100%;
    background-color: purple;
}
.row{
    display: flex;
    gap: 25px;
    padding-bottom: 30px;
    flex-wrap: wrap;
}